mode = sliding
nscales = 2
nsentiLabs = 3
ntopics = 30
niters = 40
savestep = 20
twords = 20
data_dir = ../data/test
model_dir = ../out/train
result_dir = ../out/test
datasetFile = test
#sentiFile = ../data/mpqa.constraint
#docLabFile = ../data/mozilla.ratings
#vocabFile = 
#opt_mu_mode = 
#alpha = 0.01
#beta = 0.01
#gamma = 0.01
#useHistoricalAlpha =
model = epoch_9-final