mode = sliding
nscales = 3
nsentiLabs = 3
ntopics = 30
niters = 1000
savestep = 200
updateParaStep = 25
twords = 20
data_dir = ../data/train
#model_dir = ../out
result_dir = ../out/train
datasetFile = train_epoch
sentiFile = ../data/mpqa.constraint
docLabFile = ../data/mozilla.ratings
#vocabFile = 
#opt_mu_mode = 
#alpha = 0.01
#beta = 0.01
#gamma = 0.01
#useHistoricalAlpha =
#model = epoch_0-00200
